importFrom(qtbase, Qt)
importFrom(qtbase, qrect, qfont, qsize)
import(qtpaint)
import(plumbr)
exportPattern("^[^\\.]")
export(focused)
export("focused<-")
export(link)
export(link_var)
export("link_var<-")
export(qtmap)
export(qmosaic)
export(qparallel)
