export(axis_loc)
export("border_pal<-")
export("border_title<-")
export("border_var<-")
export(break_str)
export("brush<-")
export(brush)
export(cart_polygon)
export(check_data)
export("color_pal<-")
export("color_title<-")
export("color_var<-")
export(common_key_press)
export(common_key_release)
export(Common.meta)
export(common_mouse_move)
export(common_mouse_press)
export(common_mouse_release)
export(draw_brush)
export(draw_identify)
export(extend_ranges)
export(fix_dimension)
export(identify_rect)
export(lighter)
export(link_cat)
export(link_id)
export(link_knn)
export("link_type<-")
export(link_type)
export("link_var<-")
export(link_var)
export(manual_brush)
export(map_qdata)
export(match_key)
export(mode_selection)
export(na_impute)
export(one_pixel)
export(prefer_height)
export(prefer_width)
export(qaxis)
export(qbar)
export(qboxplot)
export(qbxp)
export(qdata)
export(qdensity)
export(qgrid)
export(qhist)
export(qlegend)
export(qmap)
export(qmtext)
export(qmval)
export(qpar)
export(qparallel)
export(qsave)
export(qscatter)
export(qspine)
export(qtime)
export(qtime2)
export(qtour)
export(record_selector)
export(remove_link)
export(reorder_var)
export(save_brush_history)
export("selected<-")
export(selected)
export(set_cursor)
export("size_pal<-")
export("size_title<-")
export("size_var<-")
export(switch_value)
export(sync_limits)
export(time_qdata)
export(update_brush_size)
export(var_names)
export("visible<-")
export(visible)
importFrom(methods,setRefClass)
importFrom(qtbase,qconnect)
importFrom(qtbase,qdataFrameModel)
importFrom(qtbase,qfont)
importFrom(qtbase,qrect)
importFrom(qtbase,qsize)
importFrom(qtbase,Qt)
importFrom(qtbase,qtimer)
importFrom(SearchTrees,createTree)
importFrom(SearchTrees,rectLookup)
importFrom(tourr,basis_init)
importFrom(tourr,basis_random)
importFrom(tourr,cmass)
importFrom(tourr,dependence_tour)
importFrom(tourr,freeze)
importFrom(tourr,frozen_guided_tour)
importFrom(tourr,frozen_tour)
importFrom(tourr,geodesic_path)
importFrom(tourr,grand_tour)
importFrom(tourr,guided_tour)
importFrom(tourr,holes)
importFrom(tourr,lda_pp)
importFrom(tourr,little_tour)
importFrom(tourr,local_tour)
importFrom(tourr,new_geodesic_path)
importFrom(tourr,new_tour)
importFrom(tourr,path_curves)
importFrom(tourr,path_dist)
importFrom(tourr,path_index)
importFrom(tourr,paths_index)
importFrom(tourr,pda_pp)
importFrom(tourr,planned_tour)
importFrom(tourr,save_history)
import(objectProperties)
import(objectSignals)
import(plumbr)
import(qtpaint)
S3method(var_names,character)
S3method(var_names,default)
S3method(var_names,formula)
S3method(var_names,numeric)
