export(axis_loc)
export("border_label<-")
export("border_pal<-")
export("border_var<-")
export(break_str)
export("brush<-")
export(brush)
export(check_data)
export("color_label<-")
export("color_pal<-")
export("color_var<-")
export(common_key_press)
export(common_key_release)
export(common_mouse_move)
export(common_mouse_press)
export(common_mouse_release)
export(dependence_tour)
export(draw_brush)
export(draw_identify)
export(extend_ranges)
export("focused<-")
export(focused)
export(frozen_guided_tour)
export(frozen_tour)
export(grand_tour)
export(guided_tour)
export(identify_rect)
export(last_data)
export(lighter)
export(link_cat)
export(link_knn)
export("link_type<-")
export(link_type)
export("link_var<-")
export(link_var)
export(little_tour)
export(local_tour)
export(manual_brush)
export(match_key)
export(mode_selection)
export(na_impute)
export(one_pixel)
export(planned_tour)
export(prefer_height)
export(prefer_width)
export(qaxis)
export(qbar)
export(qboxplot)
export(qbxp)
export(qdata)
export(qdensity)
export(qgrid)
export(qhist)
export(qlegend)
export(qmap)
export(qmosaic)
export(qmtext)
export(qmval)
export(qpar)
export(qparallel)
export(qscatter)
export(qspine)
export(qtime)
export(qtour)
export(record_selector)
export(remove_link)
export(save_brush_history)
export("selected<-")
export(selected)
export(set_cursor)
export(setMapColorByLabel)
export("size_label<-")
export("size_pal<-")
export("size_var<-")
export(summary_one)
export(switch_value)
export(sync_limits)
export(update_brush_size)
export("visible<-")
export(visible)
importFrom(qtbase,qconnect)
importFrom(qtbase,qdataFrameModel)
importFrom(qtbase,qfont)
importFrom(qtbase,qrect)
importFrom(qtbase,qsize)
importFrom(qtbase,Qt)
importFrom(qtbase,qtimer)
importFrom(tourr,dependence_tour)
importFrom(tourr,frozen_guided_tour)
importFrom(tourr,frozen_tour)
importFrom(tourr,grand_tour)
importFrom(tourr,guided_tour)
importFrom(tourr,little_tour)
importFrom(tourr,local_tour)
importFrom(tourr,new_tour)
importFrom(tourr,planned_tour)
import(objectSignals)
import(plumbr)
import(qtpaint)
S3method(var_names,character)
S3method(var_names,default)
S3method(var_names,formula)
S3method(var_names,numeric)
